@font-face {
  font-family: "Open Sans";
  src: url("../../assets/fonts/openSans.ttf");
}
@font-face {
  font-family: "Lato Bold";
  src: url("../../assets/fonts/latoBold.ttf");
}
@font-face {
  font-family: "Lato Light";
  src: url("../../assets/fonts/latoLight.ttf");
}